/* BASIC BODY DESIGN */
body{
   min-height: 100vh;
   width: 100%;
   color: white;
   font-family: "Lato";

   background-image: url('/resources/jon-parry-C8eSYwQkwHw-unsplash.jpg');
   box-shadow: inset 0 0 0 2000px rgba(174, 214, 220, 0.7);
   width: 100%;
   height:100%;
   background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   text-align:center;
   margin:auto;
   padding:0;
}

/* THEME COLORS */
.bg-color-1{
   background-color: #aed6dc;
}

.bg-color-2{
   background-color: #FF9A8D;
}

.bg-color-3{
   background-color: #4A536B;
}

/* LOGO SPECS */
.img-body{
   width: 300px;
   background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   text-align:center;
   margin:0;
   padding:0;
}

.img-logo{
   width: 50px;
   background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   text-align:center;
   margin:0;
   padding:0;
}

.card {
   width: 25rem;
   background-color: #4A536B;
   align-items: center;
   margin: 1em;
}

.card-img-top{
    width: 75%;
    border-radius: 1rem;
    margin-top: 1rem;
    height: 35rem;
}
#conteneurModal{
   position: relative;
}
.modal-v{
   display: none;
   position: absolute;
   position: fixed;
   left: 5%;
   top: 20%;
   width:70%;
   height: 35rem;
   z-index: 5;
   box-shadow: #4A536B 5px 5px 10px;
   background-color: #aed6dc;
   width: 90%;
   grid-template:1fr 1fr / 1fr 1fr 1fr;
   gap: 0.5rem;
   justify-content: center;
   align-items: center;
   color: #4A536B;
   font-size: 18px;
   border-radius: 1rem;
}

.image{
   grid-row:span 2;
   height: fit-content;
   width: fit-content;
   object-fit: contain;
}

.image img{
   width: 70%;
}

.tag{
   font-style: italic;
}

#modalParent .infoBeer,.food{
   text-align: left;
}

.infoBeer h2{
   font-weight: 900;
}

.btnClose{
   position: absolute;
   top: 5%;
   right: 5%;
   color: #FF9A8D;
   background-color: #4A536B;
   z-index: 99;
}