/* BASIC BODY DESIGN */
body{
   min-height: 100vh;
   width: 100%;
   color: white;
   font-family: "Lato";

   background-image: url('/resources/jon-parry-C8eSYwQkwHw-unsplash.jpg');
   width: 100%;
   height:100%;
   background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   text-align:center;
   margin:auto;
   padding:0;
}

/* THEME COLORS */
.bg-color-1{
   background-color: #aed6dc;
}

.bg-color-2{
   background-color: #FF9A8D;
}

.bg-color-2-op{
   background-color: #FF9A8D;
}

.bg-color-2-op::before{
   background-color: #FF9A8D;
   opacity: 0.5;
}

.bg-color-3{
   background-color: #4A536B;
}

/* LOGO SPECS */
.img-head{
   width: 100px;
   background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   text-align:center;
   margin:0;
   padding:0;
}

.img-logo{
   width: 50px;
   background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   text-align:center;
   margin:0;
   padding:0;
}

